
.maindiv{
}
.button{
  border-radius: 100px;
  height: 85px;
  width: 85px;
  background-color: white;
  
}
.screen{
  border-radius: 15px;
  height: 80px;
  width: 350px;
}
th{
  border-radius: 15px;
}
td{
  text-size-adjust: 100px;
  border-radius: 1000000px;
}
table{
  border-radius: 15px;
}
input[type="button"] {
  font-size:30px;
}
input[type="button"]:hover{
  background-color: #DCDCDC;
}