input[type="button"]{
  border: None;
  width: 250px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 12px;
  background-color: rgba(29,253,255,0.602);
}
body{
  max-width: 768px;
  max-height: 1024px;
  margin: auto;
  display: block;
}
