@import "compass/css3";

body {
  background-color: #ACAFB8;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.4;
  font-size: 0.6em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

.login-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 270px;
  border-radius: 3px;
  background-color: #272E38;
  overflow: hidden;
  .denied & {